#bh-screen{
	background-color: #CCC;
	border: 1px solid black;
}

#bh-canvas-container{
	position: relative;
	left: 0;
	right: 0;
	margin-left: auto;
 	margin-right: auto;
	max-width: 800px;
}
#bh-screen, #bh-player, #bh-enemy{
	outline: 0;
	position: absolute;
	left: 0;
}
#bh-screen:focus, #bh-player:focus, #bh-enemy:focus{

}
#bh-start{
	position: absolute;
	top: 150px;
	margin-left: -40px;
	background-color: #AFF;
	border: 2px solid #000;
	border-radius: 10px;
	font-size: 25px;

	z-index: 1;
}
#bh-start:hover{
	border-color: #666;
}
