#bo-screen{
  background-color: #CCC;
}

#bo-canvas-container{
  position: relative;
	margin: 0 auto;
  max-width: 800px;
}
#bo-canvas-container > canvas{
  border: 1px solid black;
  position: absolute;
  left: 0;
  outline: 0;
}
#bo-start, #bo-restart{
  position: absolute;
  top: 150px;
	margin-left: -40px;
  background-color: #eeeeee;
  border: 2px solid #444444;
  border-radius: 10px;
  font-size: 25px;

  z-index: 1;
}
#bo-restart{
  display: none;
}
