.menu{
	font-family: Verdana, Geneva, sans-serif;
}
.menu a{
	text-decoration: none;
	color: black;
}
.menu li{
	padding: 5px 15px 5px 0px;
	list-style: none;
}
.menu li span:before{
	content: '\00bb';
	color: #777777;
	position: relative;
	opacity: 0;
	left: -10px;
	transition: 0.5s;
}
.menu li:hover span:before{
	opacity: 1;
	left: -5px;
}
