.menu{
	background-color: #ffffff;
	border-radius: 10px;
	height: 500px;
	padding-left: 10px;
}
.menu a{
	text-decoration: none;
	color: black;
}
.menu li{
	list-style: none;
	padding: 5px 15px 5px 5px;
}
.menu li span:before{
	content: '\00bb';
	color: #777777;
	position: relative;
	opacity: 0;
	left: -10px;
	transition: 0.5s;
}
.menu li:hover span:before{
	opacity: 1;
	left: -5px;
}
