body{
	background-color: #D3DBB2;
}
#header{
	background-color: #D3DBB2;
	position: relative;
}
#sidebar{
	background-color: rgb(255,255,255);
	position: absolute;
	width: 200px;
	height: 500px;
	top: 10%;
	font-size: 20px;
	border-radius: 10px;
}
#content{
	background-color: #D3DBB2;
	position: absolute;
	width: 65%;
	height: 80%;
	left: 360px;
}
