#tetris-screen{
  position: relative;
  width: 400px;
  height: 402px;
  border: 1px solid black;
  margin: 0 auto;
}
#tetris-screen:focus{
  outline: 0;
}
#tetris-blockField{
  position:absolute;
  height: 100%;
  width: 202px;
  background-color: black;

  /* to fix inline-block space */
  font-size: 0px;
}
.tetris-blk{
  display: inline-block;
  border: 1px solid black;
  width: 20px;
  height: 20px;
  border-radius: 3px;
}

.tetris-blkColor-1{
  background-color: red;
}
.tetris-blkColor-2{
  background-color: blue;
}
.tetris-blkColor-3{
  background-color: violet;
}
.tetris-blkColor-4{
  background-color: green;
}
.tetris-blkColor-5{
  background-color: orange;
}
.tetris-blkColor-6{
  background-color: cyan;
}
.tetris-blkColor-7{
  background-color: yellow;
}
