#tetris-screen{
  position: relative;
  width: 400px;
  height: 402px;
  border: 1px solid black;
  margin: 0 auto;
}
#tetris-screen:focus{
  outline: 0;
}
#tetris-blockField{
  position:absolute;
  height: 100%;
  width: 202px;
  background-color: black;

  /* to fix inline-block space */
  font-size: 0px;
}
#tetris-blockField > div > div{
  display: inline-block;
  border: 1px solid black;
  width: 20px;
  height: 20px;
}

.tetris-blk-1{
  background-color: red;
}
.tetris-blk-2{
  background-color: blue;
}
.tetris-blk-3{
  background-color: violet;
}
.tetris-blk-4{
  background-color: green;
}
.tetris-blk-5{
  background-color: orange;
}
.tetris-blk-6{
  background-color: cyan;
}
.tetris-blk-7{
  background-color: yellow;
}
