<div ng-init="init()">
  <div class="text-center">
    <h1>Connect 4 Game</h1>
    <div id="c4-rack">
      <div id="c4-col-0" ng-click="playerWait||insertChip($event)"></div>
      <div id="c4-col-1" ng-click="playerWait||insertChip($event)"></div>
      <div id="c4-col-2" ng-click="playerWait||insertChip($event)"></div>
      <div id="c4-col-3" ng-click="playerWait||insertChip($event)"></div>
      <div id="c4-col-4" ng-click="playerWait||insertChip($event)"></div>
      <div id="c4-col-5" ng-click="playerWait||insertChip($event)"></div>
      <div id="c4-col-6" ng-click="playerWait||insertChip($event)"></div>
    </div>
  </div>
</div>
