/* rack */
#c4-rack{
  margin: 0 auto;
  width: 580px;
  border: 10px solid #555555;
  font-size: 0;
}

/* rack columns */
#c4-rack > div{
  display: inline-block;
  width: 80px;
}
#c4-rack > div:hover{
  opacity: 0.6;
}

/* gray out columns */
.c4-gray-out{
  opacity: 0.6;
}

/* rack spaces */
.c4-space{
  display: inline-block;
  background-color: rgb(245,245,0);
  width: 80px;
  height: 80px;
}
.c4-space > div{
  position: relative;
  left: 5px;
  top: 5px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: 1;
}
.open > div{
  background-color: #fefefe;
}

/* token */
.filled-red > div{
  background-color: red;
}
.filled-black > div{
  background-color: #000000;
}

/* text */
#c4-dialog-box{
  display: inline-block;
  width: 580px;
  padding-bottom: 10px;
  border-left: 10px solid #555555;
  border-bottom: 10px solid #555555;
  border-right: 10px solid #555555;
  background-color: #eeeeee;
}
#c4-dialog-box > div{
  display: none;
}
#c4-token-red{
  background-color: red; color: #ffffff;
  border-radius: 50%;
}
#c4-token-black{
  background-color: black; color: #ffffff;
  border-radius: 50%;
}
