#c4-rack{
  display: inline-block;
  border: 10px solid #555555;
  border-radius: 5px;
  font-size: 0;
}
#c4-rack > div{
  display: inline-block;
  width: 80px;
}
#c4-rack > div:hover{
  opacity: 0.6;
}
.c4-space{
  display: inline-block;
  background-color: rgb(245,245,0);
  width: 80px;
  height: 80px;
}
.c4-space > div{
  position: relative;
  left: 5px;
  top: 5px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  z-index: 1;
}
.open > div{
  background-color: #fefefe;
}
.filled-red > div{
  background-color: red;
}
.filled-black > div{
  background-color: #000000;
}
